.close-button{
    /* position: relative !important;
    top: -48px;
    right: -745px; */
    float: right;
    /* background-color: gray; */
}

.mat-mdc-dialog-actions{
    justify-content: flex-end !important;
}

.custome-button{
    background-color: green !important;
    color: white !important;
}

.custome-button:hover{
    background-color: white !important;
    color: green !important;
}

.custome-button-clean{
    background-color: blue !important;
    color: white !important;
}

.custome-button-clean:hover{
    background-color: white !important;
    color: blue !important;
}

.card{
    -webkit-box-shadow: 10px 10px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 13px -4px rgba(0,0,0,0.75);
}
